.chat-window {
	width: 100%;
	height: 50rem;
	overflow: auto;
}

.msg-container,
.ai-msg-container {
	padding: 1rem;
	background: #f7c8e0;
	max-width: 30rem;
	border-radius: 0.85rem;
}

.ai-msg-container {
	background: whitesmoke;
}

.container-wrapper {
	display: flex;
	justify-content: flex-end;
}

.aires-container-wrapper,
.container-wrapper {
	padding: 0.85rem;
}

/* animating the typing dot animation  */
.typing-animation-container {
	display: flex;
	gap: 0.45rem;
	padding: 0.5rem;
}

.typing-animation-container > div {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background: rgba(122, 122, 122, 0.8);
	animation: typingDot 1s infinite;
}

.typing-animation-container > div:nth-child(1) {
	animation-delay: 0s;
}

.typing-animation-container > div:nth-child(2) {
	animation-delay: 0.1s;
}

.typing-animation-container > div:nth-child(3) {
	animation-delay: 0.2s;
}

@keyframes typingDot {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.8;
		scale: 1.5;
	}
	100% {
		opacity: 0;
		scale: 1;
	}
}

@media only screen and (max-width: 600px) {
	.chat-window {
		height: 40rem;
		padding: 0;
	}

	.msg-container,
	.ai-msg-container {
		max-width: 20rem;
		padding: 0.5rem;
		font-size: 0.85rem;
	}

	.aires-container-wrapper,
	.container-wrapper {
		padding: 0.85rem 0.5rem;
	}

	.typing-animation-container > div {
		width: 0.4rem;
		height: 0.4rem;
	}
}
