.record-button-holder {
	display: flex;
	align-items: center;
	justify-content: center;
	/* border-radius: 100%; */
	color: white;
}

.fa-microphone,
.fa-circle-stop {
	font-size: 1.5rem;
	cursor: pointer;
	padding: 0.7rem 1rem;
	background: #f70776;
	box-shadow: 4px 4px 30px 5px #f70777bb;
	border-radius: 100%;
}

.fa-circle-stop {
	background: none;
	box-shadow: none;
}

.fa-circle-stop {
	color: red;
	animation: stopRecord 1s infinite;
}

@keyframes stopRecord {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.25);
	}
	0% {
		transform: scale(1);
	}
}

/* media query  */
@media only screen and (max-width: 600px) {
	.fa-microphone {
		padding: 0.5rem 0.8rem;
		font-size: 1.25rem;
	}
}
