/* animating the typing dot animation  */
.typing-animation-container {
	display: flex;
	gap: 0.45rem;
	padding: 0.5rem;
}

.typing-animation-container > div {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.9);
	animation: typingDot 1s infinite;
}

.typing-animation-container > div:nth-child(1) {
	animation-delay: 0s;
}

.typing-animation-container > div:nth-child(2) {
	animation-delay: 0.1s;
}

.typing-animation-container > div:nth-child(3) {
	animation-delay: 0.2s;
}

@keyframes typingDot {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.8;
		scale: 1.5;
	}
	100% {
		opacity: 0;
		scale: 1;
	}
}

@media only screen and (max-width: 600px) {
	.typing-animation-container > div {
		width: 0.4rem;
		height: 0.4rem;
	}
}
