/* display flexs'  */
section,
.main,
form,
.dashboard,
.notes-and-about-container,
.info-container {
	display: flex;
}

section {
	background: #eef2ff;
}

.main {
	flex-direction: column;
	align-items: center;
	border-radius: 2rem;
	overflow: hidden;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.4),
		rgba(255, 255, 255, 0.7)
	);
	backdrop-filter: blur(0.8rem);
	box-shadow: 7px 7px 20px rgba(122, 122, 122, 0.3);
}

.chat-board-container {
	padding: 2rem 1rem;
	width: 100%;
}

.chatheading-chatwindow-container {
	padding: 0 2rem;
}

textarea {
	white-space: normal;
	padding: 1rem 1.5rem;
	font-size: 0.85rem;
	width: 100%;
	resize: none;
	outline: none;
	border: none;
	background: #eef2ff;
	border-radius: 10rem;
}

/* poppins font  */
textarea,
input {
	font-family: "Poppins", sans-serif;
}

form {
	gap: 1rem;
}

.chat-form-container {
	width: 100%;
	padding: 1rem;
}

.text-btn {
	border-radius: 100%;
	background: none;
	padding: 0 1rem;
	outline: none;
	font-size: 1.25rem;
	border: none;
	cursor: pointer;
	background: #f70776;
	color: white;
}

.stop-speech-button-container > button {
	background: none;
	outline: none;
	border: none;
	font-size: 1.2rem;
	padding: 1rem 0;
}

.stop-speech-button-container > button:hover {
	color: rgb(202, 1, 1);
}

.fa-stop {
	color: rgb(202, 1, 1);
}

/* dashboard  */
.dashboard {
	width: 100%;
	justify-content: space-between;
}

/* notes and about  */
.about-container {
	width: 100%;
}

.about-heading {
	text-align: center;
	padding: 1rem;
	font-size: 0.9rem;
	font-family: "Dancing Script", cursive;
}

.about-body {
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.4),
		rgba(255, 255, 255, 0.7)
	);
	backdrop-filter: blur(0.8rem);
	border-radius: 1.5rem;
	line-height: 2;
	font-size: 0.9rem;
	text-align: justify;
	box-shadow: 7px 7px 20px rgba(122, 122, 122, 0.3);
}

.about-body > p {
	padding: 0 2rem 2rem;
}

/* info container  */
.info-container {
	width: 100%;
	flex-direction: column;
	gap: 1rem;
}

/* media query  */
@media only screen and (max-width: 600px) {
	section {
		min-height: 100vh;
	}

	.main {
		border-radius: 0;
		box-shadow: none;
		background: linear-gradient(
			to right top,
			rgba(255, 255, 255, 0.3),
			rgba(255, 255, 255, 0.5)
		);
		backdrop-filter: blur(0.5rem);
	}

	.chatheading-chatwindow-container {
		padding: 0;
		height: 100%;
	}

	.chat-board-container {
		padding: 0 0rem;
		height: 100%;
	}

	.info-container {
		padding: 1rem 0.5rem;
	}

	.about-body > p {
		padding: 0 1.5rem 1.5rem;
		font-size: 0.7rem;
	}

	.about-heading {
		font-size: 0.85rem;
		padding: 1rem 1rem 0.5rem;
	}

	textarea {
		font-size: 0.7rem;
	}

	.chat-form-container {
		padding: 0.85rem;
	}

	.text-btn {
		font-size: 1rem;
	}

	form {
		gap: 0.5rem;
	}

	.stop-speech-button-container > button {
		font-size: 0.95rem;
	}
}
